/**************** fonts ****************/
@font-face {
  font-family: 'Light';
  src: url('../fonts/Oswald-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Oswald-Light.woff') format('woff'), url('../fonts/Oswald-Light.ttf')  format('truetype'), url('../fonts/Oswald-Light.svg#Oswald-Light') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Regular';
  src: url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Oswald-Regular.woff') format('woff'), url('../fonts/Oswald-Regular.ttf')  format('truetype'), url('../fonts/Oswald-Regular.svg#Oswald-Regular') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Tahoma';
  src: url('../fonts/Tahoma.eot');
  src: url('../fonts/Tahoma.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Tahoma.woff') format('woff'),
    url('../fonts/Tahoma.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/**************** body ****************/
body {
  margin: 0;
  padding: 0;
  background-color: #453;
  background-image: url("../img/bg.png");
  border-top: 5px solid #7e7e7e;
  font-family: "Regular";
}
.wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0;
}
.clearfix:after {
  content:" ";
  display:table;
  clear:both;
}
/**************** header ****************/
.header_top {
  padding: 20px 0;
}
.header_top form {
  float: right;
}
.header_top input {
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  height: 32px;
  width: 160px;
  padding-left: 10px;
  color: #29c5e6;
  font-family: "Regular";
}
.header_top input[type="submit"] {
  background-color: #29c5e6;
  color: #fff;
  width: 40px;
  height: 32px;
  text-align: center;
  padding: 0;
  border: none;
  margin-left: -4px;
}
.header_top input[type="submit"]:hover {
  border: 1px solid #29c5e6;
  color: #29c5e6;
  background-color: #fff;
}
.header_top input[type="search"]:hover {
  border: 1px solid #29c5e6;
  color: #29c5e6;
  background-color: #f3f3f3;
}
/**************** nav_top ****************/
.nav_top {
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
}
.nav_top ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: justify;
  font-size: 0;
  line-height: 0;
}
.nav_top ul:after {
  content: "";
  width: 100%;
  display: inline-block;
}
.nav_top ul li {
  display: inline-block;
  width: 12.5%;
}
.nav_top a {
    text-transform: uppercase;
    color: #b2b2b2;
    text-decoration: none;
    font-size: 14px;
    line-height: normal;
    display: block;
    text-align: center;
    padding: 10px 30px;
}
.nav_top a:hover {
  color: #fff;
  background-color: #29c5e6;
}
.nav_top_active a {
  color: #fff;
  background-color: #29c5e6;
}
.nav_top a.not_used {
  background: url("../img/texture.png");
}
.nav_top a.not_used:hover {
  color: #b2b2b2;
  text-decoration: line-through;
  position: relative;
}
.nav_top a.not_used:hover::after {
  content: "not work";
  display: block;
  position: absolute;
  left: 25%;
  top: -22px;
  color: #ff0000;
  opacity: 0.5;
}
/**************** main header ****************/
.main_header {
  background: url("../img/texture.png");
  margin: 20px 0;
  padding-left: 20px;
}

.main_header h1 {
  display: inline-block;
  font-family: "Regular";
  font-size: 34px;
  text-transform: uppercase;
  color: #7e7e7e;
  background-image: url("../img/bg.png");
  margin: 0;
  padding: 0 5px;
  letter-spacing: 4px;

}
/**************** main ****************/
.main_aside {
  float: left;
  width: 26%;
}
.main_content_article {
  float: right;
  width: 70%;
}
/**************** main home page ****************/
.main_content {
  margin: 25px 0;
}
.fotorama_content {
  background: #f3f3f3;
  border: 1px solid #e7e7e7;
  margin-bottom: 30px;
}
.fotorama_content .fotorama h1 {
  color: #5a5a5a;
  font-family: 'Light';
  font-size: 42px;
  text-transform: uppercase;
  margin: 40px;
}
.fotorama_content .fotorama p {
  font-family: "Light";
  color: #acacac;
  font-size: 20px;
  margin: -45px 40px 40px 40px;
}
.fotorama_caption a {
  display: inline-block;
  width: 25.3%;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Light";
  color: #8f8f8f;
  margin: 0 -3px;
}
.fotorama_caption a span {
  background: #8f8f8f;
  color: #ffffff;
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  margin-right: 10px;
}
.fotorama_caption a:hover {
  color: #29c5e6;
}
.fotorama_caption a:hover span {
  background: #29c5e6;
}
a.fotorama_caption_active {
  color: #29c5e6;
}
a.fotorama_caption_active span {
  background: #29c5e6;
}
/**************** home page bottom ****************/
.hpi_col {
  display: inline-block;
  width: 48%;
  box-sizing: border-box;
  margin-right: 35px;
}
.home_page_info > .hpi_col:last-child {
  margin-right: 0;
}
.hpi_col h3 {
  display: block;
  background-image: url("../img/texture.png"), url("../img/squarehover.png");
  background-repeat: repeat, no-repeat;
  background-size: auto, 20px;
  background-position: right, left;
  font-family: "Regular";
  color: #7e7e7e;
  font-size: 14px;
  text-transform: uppercase;
}
.hpi_col h3 span {
  display: inline-block;
  background-image: url("../img/bg.png");
  margin: 0 10px 0 20px;
  padding: 0 5px;
}
.hpi_col_img {
  display: inline-block;
  width: 33%;
}
.hpi_col_text {
  display: inline-block;
  width: 63%;
  vertical-align: top;
}
.hpi_col img {
  width: 100%;
  height: 140px;
  border: 1px solid #c9c9c9;
}
.hpi_col .hpi_col_text p, 
.hpi_col .hpi_col_text a, 
.hpi_col .hpi_col_text span {
  font-family: "Tahoma";
  color: #8f8f8f;
  font-size: 12px;
  margin: 0 0 0 10px;
}
.hpi_col .hpi_col_text a, 
.hpi_col .hpi_col_text span {
  color: #525252;
}
.hpi_col_text p {
  text-align: justify;
}
.home_page_sos {
  margin: 30px 0;
}
.hps_col_l {
  float: left;
  width: 30%;
  min-height: 100%;
  margin: 0;
}
.hps_col_r {
  float: right;
  width: 30%;
  min-height: 100%;
}
.hps_col_l:nth-of-type(2) {
  margin: 0 48px;
}
.hps_h3 h3 {
  display: block;
  background-image: url("../img/texture.png"),
                    url("../img/squarehover.png");
  background-repeat: repeat, no-repeat;
  background-size: auto, 20px 20px;
  font-size: 14px;
  font-family: "Regular";
  color: #7e7e7e;
  text-transform: uppercase;
  margin: 0;
  padding: 0 20px;
}
.hps_h3 h3 span {
  background: url("../img/bg.png");
  display: inline-block;
  padding: 0 10px;
}
.hps_contents p {
  color: #8f8f8f;
  font-family: "Tahoma";
  font-size: 12px;
  text-align: justify;
}
.hps_contents a {
  color: #525252;
  font-size: 12px;
  font-family: "Tahoma";
}
.hpscr_l {
  float: left;
  width: 15%;
  padding-top: 10px;
}
.hpscr_r {
  float: right;
  width: 80%
}
.hpscr_l img {
  width: 40px;
  height: 40px;
  border: 1px solid #c9c9c9;
}
.hpscr_r span {
  font-family: "Tahoma";
  font-size: 11px;
  color: #525252;
  text-transform: uppercase;
}
.hpscr_r p {
  font-size: 11px;
  font-family: "Tahoma";
  color: #8f8f8f;
  text-align: justify;
  margin: 0;
}
.hpc_imgs {
  text-align: center;
  margin: 20px 0;
}
.hpc_imgs img {
  margin: 0 20px;
  transition: 1s;
}
.hpc_imgs img:hover {
  transform: scale(1.5);
}
/**************** main_menu ****************/
.main_menu {
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}
.main_menu a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Light";
  color: #8f8f8f;
  padding: 10px;
  padding-left: 32px;
  border-bottom: 1px solid #e7e7e7;
  background: url("../img/square.png") no-repeat 10px 50%;
}
.main_menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main_menu a:hover {
  color: #29c5e6;
  background: url("../img/squarehover.png") no-repeat 10px 50%;
}
.main_menu_sub a {
  background-color: #e7e7e7;
  border-bottom: 1px solid #dfdfdf;
  background: none;
}
.main_menu li.main_menu_active > a{
  color: #29c5e6;
}
.main_menu_sub {
  display: none;
}
.main_menu li.main_menu_active:hover .main_menu_sub {
  display: block;
}
.main_menu_sub a {
  font-size: 13px;
  padding: 5px;
  padding-left: 32px;
}
.main_menu_sub a:hover {
  background-color: #eeeeee;
}
/**************** main_info ****************/
.main_info {
  margin-top: 32px;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}
.main_info h3 {
  background-color: #29c5e6;
  margin: 0;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 13px 10px;
}
.main_info img {
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
  height: 180px;
}
/**************** mca_info ****************/
.main_content_article h2 {
  background-color: #29c5e6;
  color: #fff;
  font-family: "Light";
  font-size: 24px;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 0;
  letter-spacing: 2px;
}
.main_content_article p {
  color: #8f8f8f;
  font-family: "Tahoma";
  font-size: 13px;
  line-height: 20px;
}
.mca_info_figure_l,
.mca_info_figure_r {
  margin: 0 0 20px 0;
}
.mca_info_figure_l {
  float: left;
}
.mca_info_figure_r {
  float: right;
}
.mca_info_figure figure img {
  width: 98%;
  border: 1px solid #c9c9c9;
}
.mca_info_figure figure figcaption {
  font-family: "Light";
  color: #8f8f8f;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
}
.mca_relatedproj figure {
  display: inline-block;
  margin: 20px 39px 30px 0;
  width: 100px;
}
.mca_relatedproj figure:last-child {
  margin-right: 0px;
}
.mca_relatedproj img {
  width: 96px;
  height: 96px;
  border: 1px solid #c9c9c9;
}
.mca_relatedproj figure figcaption {
  font-family: "Light";
  font-size: 16px;
  color: #8f8f8f;
}
/**************** about us **************/
.blockquote {
  background-color: #29c5e6;
  padding: 30px;
  margin: 0;
  text-align: right;
}
.blockquote p {
  margin: 0;
  padding: 0;
  color: #fff;
  text-transform: uppercase;
  font-family: "Light";
  font-size: 31px;
  line-height: 31px;
  font-style: italic;
  text-align: justify;
}
.blockquote cite {
  font-family: "Light";
  font-size: 20px;
  color: #1d8ea6;
  font-style: normal;
}
.text_block p {
  font-size: 12px;
  font-family: "Tahoma";
  color: #8f8f8f;
}
.text_block_imgs {
  font-size: 0;
  line-height: 0;
  text-align: justify;
  margin-bottom: 20px;
}
.text_block_imgs:after {
  content: "";
  width: 100%;
  display: inline-block;
}
.tbi_img {
  display: inline-block;
  width: 45%;
}
.tbi_img img {
  width: 100%;
  height: 180px;
  border: 1px solid #c9c9c9;
}
.block_our_team h2 {
  background-color: #29c5e6;
  color: #fff;
  font-family: "Light";
  font-size: 24px;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 0;
  letter-spacing: 2px;
}
.our_team_row {
  text-align: justify;
  font-size: 0;
  line-height: 0;
  margin: 20px 0;
}
.our_team_row:after {
  content: "";
  width: 100%;
  display: inline-block;
}
.our_team_item {
  display: inline-block;
  width: 100px;
  height: 100px;
}
.our_team_item img {
  width: 100%;
  height: 100%;
  border: 1px solid #c9c9c9;
}
.our_team_item p {
  font-family: "Light";
  color: #8f8f8f;
  font-size: 16px;
  line-height: 16px;
  margin: 7px 0;
}
.our_team_item a {
  font-size: 14px;
  line-height: 14px;
  font-family: "Light";
  color: #29c5e6;
  text-decoration: none;
}
/**************** footer ****************/
.footer_page {
  background-color: #7e7e7e;
}
/**************** footer_content ****************/
.footer_feed {
  float: left;
  width: 300px;
}
.footer_page h3 {
  font-family: "Regular";
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid #919191;
  letter-spacing: 0.2em;
  line-height: 2em;
  margin: 15px 0 0 0;
}
.footer_feed p {
  font-family: "Tahoma";
  font-size: 12px;
  color: #dbdbdb;
  margin: 5px 0 0 0;
}
.footer_feed a {
  font-family: "Tahoma";
  font-size: 12px;
  color: #b4aeae;
  text-decoration: underline;
}
.footer_sitemap {
  float: left;
  width: 150px;
  margin: 0 20px;
}
.footer_sitemap div {
  display: inline-block;
  margin: 8px 20px 0 0;
}
.footer_sitemap div a {
  display: block;
  font-family: "Tahoma";
  color: #dbdbdb;
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
}
.footer_soc {
  float: left;
}
.footer_soc div {
  margin: 0;
  padding: 0;
  max-height: 38px;
}
.footer_soc .soc_ico a {
  margin: 8px 10px 10px 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../img/soc_ico.png") no-repeat 0 0;
}
.footer_soc .soc_ico_small a {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 10px 5px 0 0;
  background: url("../img/soc_ico.png") no-repeat 0 0;
}
.soc_ico a.s_tw {
  background-position: 0 0;
}
.soc_ico a.s_fc {
  background-position: -40px 0;
}
.soc_ico a.s_gp {
  background-position: -80px 0;
}
.soc_ico_small a.s_v {
  background-position: 0 -40px;
}
.soc_ico_small a.s_yt {
  background-position: -40px -40px;
}
.soc_ico_small a.s_fl {
  background-position: -80px -40px;
}
.soc_ico_small a.s_ins {
  background-position: -110px -40px;
}
.soc_ico_small a.s_rss {
  background-position: -140px -40px;
}
.footer_logo {
  float: right;
  text-align: right;
  padding: 40px 0 15px;
}
.footer_logo p {
  font-family: "Tahoma";
  font-size: 10px;
  color: #dbdbdb;
}
.footer_logo p a {
  color: #dbdbdb;
}
